extends layout

block content
  h1= title
  p Welcome User, Please select from the following options:
  ul
  li <a href= "interface1" > Enter data </a> 
  li <a href= "interface2" > Search for data </a>


