extends layout

block content
  h1= title
  p Welcome to the first interface , Kindly Enter the data below
  <form method="post">
  strong Enter data here: <br>
  <textarea name="comments" cols="45" row="1900">
  </textarea><br><br>
  <input type="submit" ,value="Submit">